<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muskan Shukla</title>
    
</head>
<body>
    <h1>This is the page of Muskan</h1>
    <p>She is the microsoft Ambassador of her college.</p>
    <h3><% for(let i=1;i<=10;i++){ %></h3>
        <% if(i==5){
            break;
        } %>
        <%=i %>
    <h3><% } %></h3>
</body>
</html>