<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Hii there! this is the page for hariom</h2>
    <button id="btn">Click Here</button>

    <script>
        let body = document.querySelector("body");
        let button = document.getElementById('btn');
        let box = document.createElement("div");
        let flag = 1;
        button.addEventListener('click', () => {

            body.append(box);
            box.style.backgroundColor = "green";
            box.style.border = "1px solid white";
            box.style.height = "50px";
            box.style.transition = "2s 0.5s";
            box.innerText = "hello hariom :)";
        })
    </script>
</body>

</html> -->